<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>vuldt.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FirstInController</servlet-name>
        <servlet-class>vuld.controllers.FirstInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>vuld.controllers.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>vuld.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingController</servlet-name>
        <servlet-class>vuld.controllers.PagingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarController</servlet-name>
        <servlet-class>vuld.controllers.AllCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentController</servlet-name>
        <servlet-class>vuld.controllers.RentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInPageController</servlet-name>
        <servlet-class>vuld.controllers.SignInPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartPageController</servlet-name>
        <servlet-class>vuld.controllers.CartPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinusQuantityController</servlet-name>
        <servlet-class>vuld.controllers.MinusQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuantityController</servlet-name>
        <servlet-class>vuld.controllers.AddQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>vuld.controllers.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>vuld.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UseProfileController</servlet-name>
        <servlet-class>vuld.controllers.UseProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>vuld.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>vuld.controllers.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivePageController</servlet-name>
        <servlet-class>vuld.controllers.ActivePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentingController</servlet-name>
        <servlet-class>vuld.controllers.RentingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryPageController</servlet-name>
        <servlet-class>vuld.controllers.HistoryPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingHistoryController</servlet-name>
        <servlet-class>vuld.controllers.PagingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailHistoryPageController</servlet-name>
        <servlet-class>vuld.controllers.DetailHistoryPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>vuld.controllers.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>vuld.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstInController</servlet-name>
        <url-pattern>/FirstInController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>FirstInController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingController</servlet-name>
        <url-pattern>/PagingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarController</servlet-name>
        <url-pattern>/AllCarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentController</servlet-name>
        <url-pattern>/RentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInPageController</servlet-name>
        <url-pattern>/SignInPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartPageController</servlet-name>
        <url-pattern>/CartPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinusQuantityController</servlet-name>
        <url-pattern>/MinusQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuantityController</servlet-name>
        <url-pattern>/AddQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/SignOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UseProfileController</servlet-name>
        <url-pattern>/UseProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/VerifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivePageController</servlet-name>
        <url-pattern>/ActivePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentingController</servlet-name>
        <url-pattern>/RentingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryPageController</servlet-name>
        <url-pattern>/HistoryPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingHistoryController</servlet-name>
        <url-pattern>/PagingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailHistoryPageController</servlet-name>
        <url-pattern>/DetailHistoryPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
